@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.vertical-line {
  position: relative;
  margin: 0 auto;
  width: 2px;
  height: 20px;
  background-color: #dcdcdc;
}

/* Optional: Center the line horizontally */
.vertical-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 0px;
  background-color: #dcdcdc;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
} 

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} 

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #ffffff;
}

.home-slide__item-content {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
    color: var(--color-white);
    z-index: 10;
}

.home-slide__item-title {
    font-size: 5vw;
    margin-bottom: 1rem;
}

.brown-square {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-quote.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 130px;
    margin-top: 4rem;
    /* margin-bottom: 580px; */
}

.ceo-image {
    position: absolute;
    left: 0;
    bottom: -170px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.our-team {
    background-image: url(../img/people-find.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: left bottom;
    position: relative;
    margin-top: -6px;
    z-index: 0;
}

.our-team::before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 20%;
  height: 400px;
  background-image: url(../img/bg-shape-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right top;
}